body{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.div-container{
    display: grid;
    grid-template-rows: repeat( 10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(10px, 200px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.btn-draw{
    margin-left:10px;
}
.input-text{
   margin-left: 10px;
   width: 300px;
}
