.container{
    display: flex;
    flex-direction:row;
    position: relative;
    margin-left: 10px;
    align-items: center;
    margin-top: 120px;
    width: 805px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.651);
    border: solid 3px rgba(0, 0, 0, 0.521);
    padding: 5px;
}
.info{
       border: solid 3px rgba(0, 0, 0, 0.658);
       display:flex; 
       justify-content: center;
}
.play-block{
    position: relative;
    border: solid 3px rgba(0, 0, 0, 0.658);
}
.play-field{
    position: relative;
    border: solid 3px rgba(0, 0, 0, 0.658);
}

.ball{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color:red;
    border-radius: 50%;
    z-index: 3;
}
.left-rocket{
    position: absolute;
    width: 15px;
    height: 90px;
    left: 5px;
    top: 185px;
    background-color: blue;
    border: solid 0 rgba(0, 0, 0, 0.658);
    border-radius: 5%;
    z-index: 2;
}
.right-rocket{
    position: absolute;
    width: 15px;
    height: 90px;
    left: 684px;
    top: 185px;
    background-color:yellow;
    border: solid 0 rgba(36, 31, 31, 0.658);
    border-radius: 5%;
    z-index: 2;
}
#field{
    width: 704px;
    height: 454px;
    
}
.start{
    padding:10px 20px;
    margin: 0 35px;
    background-color:darkgrey;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}
.start-click{
    padding:10px 20px;
    background-color:rgba(0, 0, 0, 0.658);
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    width: 80px;
    height:500px;
    background-color:darkgrey;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    margin-left: 1px;
    padding: 2px;
    cursor: default;
}
.menu > div{
    font-size: 60px;
    margin-left: 3px;
    margin-top: 20px;
    margin-bottom: 28px;
    
}
.menu > div:hover{
    font-size: 58px;
    background-color:rgb(119, 117, 117);
    border: solid 1px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
}

.tooltip{
    position: absolute;
    visibility: hidden;
    font-size: 18px;
    justify-content: center;
    background-color:rgb(212, 211, 211);
    border:solid 1px rgba(0, 0, 0, 0.658);
    border-radius: 5px;  
    z-index: 3;
    transition: all .5s;
}
.tooltip-visible{
    visibility: visible;
}
.player, .count{
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding:10px 10px;
    border-radius: 5px; 
}
.right, .count-right{
   color:yellow;
}
.left, .count-left{
   color: blue;
}
.show-result{
    position: absolute;
    visibility:hidden;
    padding: 10px 5px 5px 0;
    width: 200px;
    height: 120px;
    left: 254px;
    top: 185px;
    text-align: center;
    background-color:rgb(212, 211, 211);
    border: solid 2px rgba(36, 31, 31, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    color:darkslategray;
    z-index: 4;  
}
.btn-show-result{
    background-color:darkgrey;
    border: solid 2px rgba(27, 27, 27, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.div-query, .div-escape{
    display: none;
    position: absolute;
    padding: 10px 5px 5px 0;
    width: 200px;
    height: 80px;
    left: 254px;
    top: 205px;
    text-align: center;
    background-color:rgb(212, 211, 211);
    border: solid 3px rgba(36, 31, 31, 0.658);
    border-radius: 5px;
    font-size: 20px;
    z-index: 4;  
}
.btn-input-name, .btn-query-ok, .btn-query-no, .btn-escape-ok, .btn-escape-no{
    background-color:darkgrey;
    border: solid 2px rgba(27, 27, 27, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

