.form-select-players{
    display: none;
    width: 400px;
    position: absolute;
    padding: 10px;
    top: 240px;
    left: 180px;
    background-color:floralwhite;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    z-index: 3;
}
.select-players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.left-player, .right-player, .vertical-line{
    margin: 0 5%;
    align-items:center;
}
.title-form-select-players{
   width: 80%;
   text-align: center;
   font-size: 20px;
   margin: 10px auto;
}
.title2-form-select-players{
    font-size: 18px;
}
.vertical-line{
    border: solid 2px rgba(0, 0, 0, 0.658);
    height: 180px;   
}
.btn-form-select-players{
    margin: auto;
    display: block;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    font-weight: bold;
    font-size: 18px;
}
.btn-X-form-select-players{
    position: absolute;
    top: 7px;
    left: 385px;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    font-weight: bold;
    font-size: 16px;
}
#name-left-player, #name-right-player{
    visibility: visible;
    margin: 3px auto;
    width: 100%;
    border: solid 2px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    font-size: 18px;
}
.label-name-right-player, .label-name-left-player{
    visibility: visible;
    padding: 5px;
}
.info-designer, .table-results{
    display: none;
    position: absolute;
    padding: 10px 5px 5px 0;
    width: 300px;
    left: 230px;
    top: 230px;
    text-align: center;
    background-color: floralwhite;
    border: solid 3px rgba(36, 31, 31, 0.658);
    border-radius: 5px;
    font-size: 20px;
    z-index: 4;  
}
.title-info-designer{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 5px auto;
 }
.btnOK-info-designer{
    background-color:darkgrey;
    border: solid 3px rgba(27, 27, 27, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
#icon-info-designer{
    margin-top: 15px;
    width: 100px;
}
.p-info-designer{
    font-size: 18px;
}
.info-help{
    display: none;
    width: 350px;
    position: absolute;
    padding: 10px;
    top: 240px;
    left: 200px;
    background-color:floralwhite;
    border: solid 3px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    z-index: 3;
}
.btn-info-play{
    text-align: center;
}
.title-help, .title-table-results{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    margin: 5px auto;
 }
.title2-help-rockets, .title2-info-play{
    width: 80%;
    text-align: center;
    font-size: 18px;
 }
 .div-help-rockets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px
}
.help-vertical-line{
    border: solid 2px rgba(0, 0, 0, 0.658);
    height: 30px;
    margin: 0 10px;   
}
.menu-info-help{
    display: inline-block;
    border: 2px solid rgba(27, 27, 27, 0.658);
    border-radius: 5px;

}
.table-results{
    display: none;
    position: absolute;
    padding: 10px 5px 5px 0;
    width: 400px;
    height:385px;
    left: 230px;
    top: 230px;
    text-align: center;
    background-color: floralwhite;
    border: solid 3px rgba(36, 31, 31, 0.658);
    border-radius: 5px;
    font-size: 20px;
    z-index: 4;  
}
.btnOK-help, .btnOK-table-results{
    width:max-content;
    background-color:darkgrey;
    border: solid 3px rgba(27, 27, 27, 0.658);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px auto;
    padding: 5px 15px;
    text-align: center;
}
#textarea-results{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: repeat(10, 2fr);
    overflow-y: scroll;
    margin: 3px 10px;
    width: 95%;
    height: 300px;
    border: solid 1px rgba(0, 0, 0, 0.658);
    border-radius: 5px; 
    font-size: 18px;
}


