.form-name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    max-width: 300px;
    background-color: rgb(240, 248, 231);
    border: 2px solid green;
    border-radius: 5px;
}
.first-name, .second-name{
    margin: 5%;
    padding-left: 5%;
}
.button{
    width: 80px;
    margin: 0.5rem 1.2rem;
    background-color: green;
    border-radius: 5px;
    color:rgb(240, 248, 231);
    font-size: 16px;
}
.div-output{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color:rgb(240, 248, 231);
}
.list-items{
    max-width: 260px;
    font-size: 18px;
    background-color: aquamarine;
    border: 2px solid green;
    border-radius: 5px;
}
.list-items > li{
    margin-left: 1rem;
    border-radius: 5px;
}
.div-mouse{
    height: 400px;
    margin-left: 1rem;
    border: 2px solid green;
    background-color: aquamarine;
    border-radius: 5px;
}
.task-04{
    background-color:coral;
   
}
.div-move{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    left: 400px;
    right: 400px;
    width: 150px;
    height: 100px;
    border: 2px solid red;
    background-color:deeppink;
    border-radius: 5px;
}
.div-text{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 400px;
    right: 400px;
    width: 50%;
    height: 40%;
    background-color:whitesmoke;
    border-radius: 5px;
}
.color-list, .login-input, .div-task08{
    max-width: 300px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(221, 243, 197);
    border: 2px solid green;
    border-radius: 5px;
}
.div-task08{
    max-width:fit-content;
}
.p-task08{
    background-color: aquamarine;
    border-radius: 5px;   
}
