.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color:blue transparent yellow transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .loader{
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(6);
    position: absolute;
    top: 0;
    left: 0;
    right:0;bottom: 0;
    background-color: rgba(177,177,177, 0.65);
    cursor: not-allowed;
  }
  .active{
    display: flex !important;
  }
  