html{
    font-size: 10px;
    --color: #333333;
    --tomato: #A04955;
    --black: #000000;
    --title-color: #001F3D;
    --font-OS: 'Open Sans',  sans-serif;
    --gray: #F1F1F1;
    --gray-catalog:#E5E5E5;
    --white: white;
    --a-hover: #9b3350;
    --gray-select: #E5E5E5;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);    
}
.container{
    width: 95%;
    margin: 0 auto;
}
body, ul, li{
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: 'Oswald', sans-serif;
} 
body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
/* header*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 3.3rem 0;
    font-weight: 400;
}
.logo-header:hover{
    scale: 1.05;
}
.ul-header{
    list-style:none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.ul-header-item > a{
    font-size: 2rem;
    color: var(--color);
    transition: all .5s ease;
}
.ul-header-item > a:hover{   
    text-decoration: underline;
}    
.header-search{
    border: 1px solid var(--tomato);
    font-size: 1.5rem;
    width: 300px;
    padding: 1rem 0rem;
    padding-left: 6rem;
    border-radius: 50px;
    align-self: center;
    background-image: url("../image/search.svg");
    background-repeat: no-repeat;
    background-position: 3rem center;
    transition: all .5s ease;
}
.header-search:hover{
    scale: 1.05;
}
/**/
.div-shopping-cart{
    position: relative;
    width: 5%;
    min-width: 7rem;
    text-align: center;
}
.img-shopping-cart{
    width: 70%;
    transition: all .5s ease;   
}
.img-shopping-cart:hover{
    scale: 1.2;
}
.counter-shopping-cart{
    position: absolute;
    width: 32%;
    color: var(--white);
    font-size: calc(10px + 0.5vw); 
    text-align: center;
    background-color: var(--tomato);
    border-radius: 50%/50%;
    right: .2rem;
    bottom: .5rem;
    border: none;
    transition: all .5s ease; 
}
.counter-shopping-cart:hover{
    scale:1.2;
}

/*main*/
/*banner*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
}
.banner > div{
    width: 50%;
}

.banner .banner-title-info{
    color: var(--title-color);
    font-size: 6.5rem;
    font-weight: 700;
}
.banner .banner-subtitle-info{
    font-family: var(--font-OS);
    color: var(--title-color);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem; 
}
.banner-img > img{
    width: 100%;
}
/*banner-2*/
.banner-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
}
.banner-2 > div{
    width: 45%;
}
.banner-2 .banner-title-info{
    color: var(--title-color);
    font-size: 6.5rem;
    font-weight: 700;
}
.banner-2 .banner-subtitle-info{
    font-family: var(--font-OS);
    color: var(--title-color);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem; 
}
.banner-btn{
    width: 24rem;
    padding: 1rem;
    display: inline-block;
    border: 1px solid var(--black);
    text-align: center;
    box-sizing: border-box;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;    margin: 90px 60px;
    transition:all .5s ease;
}
.banner-img > img{
    width: 100%;
}
.banner-btn:hover{
    background-color: var(--tomato);
    border: 1px solid var(--tomato);
    color: var(--white);
}

/*collection*/
.collection, .sale{
    background: var(--gray);
}
.catalog-collection{
    background: var(--gray-2);
}
.collection-title{
    font-weight: 500;
    font-size: 3.6rem;
    text-align: center;
    padding: 8rem 0;
}
.collection-title > :last-child{
    font-size: 6.4rem;
}

.cards{
    display:flex;
    justify-content: space-between;
    
}
.catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2rem;
}
.empty{
    min-width: 500px;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    color: var(--black);
}
.card{    
    width: 20%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 416px;
    justify-content: space-around;
    font-weight: 500;
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 10rem;
    transition: all .5s ease;
}
.catalog-card{
    min-width: 250px;
    width: 20%;
    margin-bottom: 1rem;
    box-shadow: .1rem .4rem .2rem hsla(0, 0%, 0%, 0.2);
}
.catalog-card:hover{
    scale: 1.05;
    box-shadow: .4rem .4rem .4rem hsla(0, 0%, 0%, 0.2);
}
.a-card-item{
    width: 50%;
    transition: all .5s ease;
}
.a-card-item img{
    width: 100%;
}    
.card > img:hover{ 
    scale: 1.1;
    box-shadow: 0.4rem 0.4rem 0.4rem hsla(0, 0%, 0%, 0.2);
}
.card:hover{
    box-shadow: 0.4rem 0.4rem 0.4rem hsla(0, 0%, 0%, 0.2);
}
.card-title{
 font-size: 2.4rem;
 width: 60%;
}
.card > p {
    font-weight: 200;
    font-size: 1.8rem;
}
.card > p span{
    font-weight: 500;    
}
.card .card-btn-a{
    display: inline-block;
    background-color: var(--tomato);
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.card .card-btn-a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url("../image/bag.svg");
}
.card a:hover{
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.2);
    scale:1.1;
    cursor: pointer;
}
.card-color{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.item-card-color{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--black);
    margin: 0 .5rem 0 1rem;
    cursor: pointer;
    transition: all 1s ease;
}
.item-card-color:hover{
    scale: 1.2;
}
/*sale section*/
.sale-cards{
    display: flex;
    justify-content: space-between;
    padding: 9rem; 
}
.sale-card{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.sale-item{
    width: 100%;
    position:relative;    
}
.title-sale{
    width:100%;
    position: absolute;
    text-align: center;
    background-color: var(--tomato);
    opacity: 80%;
    color: var(--white);
    font-weight: 500;
    font-size: 3.6rem;
    padding: 1.6rem 0;
    bottom: 0;
}
.info-sale{
    width: 100%;
    height: 13rem;
    text-align: center;
    font-family: var(--font-OS);
    color: var(--title-color);
    font-size: 2.4rem;
    font-weight: 300;      
    margin-top: 3.5rem; 
}
div .sale-img{
    width: 100%;
    transition: all 300ms ease;
}
div .sale-img:hover{
    opacity: 70%;
}

.sale-btn{   
    width: 70%;
    padding: 1rem;
    display: inline-block;
    border: 1px solid var(--black);
    text-align: center;
    box-sizing: border-box;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;
    margin-top: 2.5rem;
    transition: all .5s ease;
}  
.sale-btn:hover{ 
    background-color: var(--tomato);
    border: 1px solid var(--tomato);
    color: var(--white);
}

/* section original pant*/
.original-pant{
    text-align: left;
    padding: 4rem 4rem 4rem 15.2rem;
    background-image: url("../image/pants.png");
    background-repeat: no-repeat;  
    background-size: 100%;  
    margin-bottom: 9rem;
}

.h2-pant{
    width: 50%;
    color: var(--white);
    font-size: 6.5rem;
    font-weight: 700;
}
.txt-pant{
    width: 40%;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--white);
    margin-bottom: 3rem;
}
.btn-pant{
    display: inline-block;
    padding: 0.8rem 2rem;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--white);
    background-color: var(--tomato);
    transition: all .5s ease;
}
.btn-pant:hover{
    background-color: var(--a-hover);
}

/*section trend*/

.div-trend{
    width: 95%;
    display: flexbox;
    height: 36rem;
    background-color: var(--tomato);
    padding-top: 3rem;
    margin: 9rem 6rem;
}
.h2-trend{
    font-weight: 700;
    font-size: 6.5rem;
    text-align: center;
    color: var(--white);
    background-color: var(--tomato);
    padding-bottom: 3rem;

}
.container-trend{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  
}
.item-trend{ 
    display: block;
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--tomato); 
    padding: 2rem;

}
.item-trend img{
    width: 80%;
}
.title-item-trend{
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    color: var(--color);
}
.btn-item-trend{
    display: inline-block;
    width: 80%;
    text-align: center;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--white);
    padding: 1rem 0.5rem ;
    background-color: var(--tomato);
    margin-bottom: 4.4rem;
    transition: all .5s ease;
}   
.btn-item-trend:hover{
    background-color: var(--a-hover); 
}

/*last sections */
.div-family-legacy{
    position: relative;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-color: #F3F3F3; 
    padding-top: 13rem;
    margin: 52rem 12rem 4.8rem 12rem;
}
.img-50years{
    position: absolute;
    width: 26rem;
    top: -30%;
    left: 42%;
}
.h2-family-legacy{
    font-weight: 700;
    font-size: 6.5rem;
    color: #001F3D;
}
.p-family-legacy{
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;
    text-align: center;
    color: var(--black);
    
}
.btn-family-legacy{
    display: inline-block;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2.4rem;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 1.2rem 7rem;
    margin-bottom: 4.4rem;
}   
.btn-family-legacy:hover{
    background-color: var(--tomato);
    color: var(--white);
    border: none;
}
.img-arrow-up{
    position: absolute;
    width: 83px;
}
.div-arrow-up{
    position: relative;
    text-align: right;
    top: -50px; 
    margin-right: 50px;
    transition:all 500ms ease;
}
.img-arrow-up:hover{
    scale: 1.2;
}

/* footer */

.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: var(--tomato);
    padding: 5rem 6rem;
}
.footer-div, .footer-div-last{
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--white);
    
}
.footer-ul{
    list-style-type: none;
}
.footer-item-ul{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 181%;
    color:var(--white);
    transition: all .5ms ease;
}
.footer-item-ul:hover{
    text-decoration: underline;  
}

.footer-item-ul-zero{
    color:var(--tomato);
}
.footer-email-div{
   display: block;
   text-align:center;
   background: #F3F3F3;
   margin-top: 2rem;

}
.footer-email-input{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 181%;
    color: var(--tomato);
    border-color: var(--tomato);
    margin: 1.4rem 1.4rem 1.4rem 2.5rem;
}
.footer-btn-subscribe{
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 181%;
    color: var(--white);
    background-color: var(--tomato);
    border: none;
    transition: all .5s ease;
    padding: 0.5rem 4.5rem;
    margin-right: 0.9rem;
}
.footer-btn-subscribe:hover{
    background-color: var(--a-hover);
}
.last-div{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 181%; 
    color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
}

/* catalog*/
main{
    position: relative;
}
.div-arrow-up-main{
    position: absolute;
    text-align: right; 
    bottom: 15rem;
    right: 15rem;    
    transition: all .5s ease;
}
.div-arrow-up-main:hover{
    scale: 1.2;
}
.nav-catalog{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 3rem;
}
.nav-item{  
    text-align: center;
    color: var(--black);
    transition: all .3s ease;
}
.nav-catalog-search:hover{
    scale: 1.05;
}
.nav-item  a{
    font-weight: 400;
    font-size: 2.4rem;
}
.nav-item a:hover{
    text-decoration: underline;
}
.select-group{
    font-weight: 500;
}
.select-group-item{
    font-weight: 700;
}
.img-home{
    width: 3rem;
    height: 3rem;
}
.nav-catalog-search{
    margin-left: 12.4rem;
}
.nav-catalog-btn{
    align-self: last baseline;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 6.4rem;
    color: #C4C4C4;
    background-color: var(--white);
}
.narrow-div{
    width: 80%;
    height: .2rem;
    background-color: #C4C4C4;
    margin-left: 32rem;
    margin-right: 6rem;
    margin-bottom: 2.4rem;
}

/* catalog - select*/
.grey-catalog-div{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--gray-select);
    padding-top: 2rem;
}
.container-select{
    min-width: 200px;
    width: 25%;
    height: fit-content;
    background-color:var(--white);
    border: 1px solid var(--tomato);
    margin-left: 3rem;
    padding: 2.5rem;
}
.div-catalog-show{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 2rem;
    color:var(--black);
}  
.span-catalog-show{
    letter-spacing: .3rem;
    font-size: 2rem;
    color: var(--black);
}  
.btn-show{
    font-size: 2.8rem;
    color: var(--tomato);
    background-color: var(--white);
    border: none;
    transition: all .5s ease;
}
.btn-show-open{   
    transform: rotate(90deg);
}
.btn-show-close{
    transform: rotate(-90deg);
}
.btn-show-open:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: -4px 4px 4px hsla(0, 0%, 0%, 0.2);
}
.btn-show-close:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: -4px 4px 4px hsla(0, 0%, 0%, 0.2);
}
.clear{
    position: absolute;
    display: none;
    top: -4rem;
    left: 55%;
    text-align: center;
    color:var(--black);
    background-color: var(--white);
    padding: 0.5rem 1rem 1rem 1rem;
    border: 1px solid var(--tomato);
}
.btn-show-clear{
    margin-left: 2rem;
    color:var(--tomato);
    background-color: var(--white);
}
.clear:hover{ 
    scale:1.1;
    cursor: pointer;
}
/*next group of catalog select*/
.group-catalog-select{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 1.2rem;
}
.btn-catalog-select{
    border: none;
    width: 4rem;
    height: 4rem;
    font-weight: 300;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--gray-select);
}
.btn-catalog-select.size{
    font-size: 2rem;    
}
.btn-catalog-select.color{
    border: 1px solid grey;
}
.group-catalog-select.brand{   
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-top: 1.2rem;
    
}
.btn-catalog-select.brand{
    border: none;
    width:fit-content;
    height: 2rem;
    font-weight: 300;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white); 
}

.active{
    color: var(--white);
    background-color: var(--tomato); 
}
.color.active{
    border: 3px solid var(--tomato);    
}
.brand.active{
    color: var(--tomato);
}
.btn-catalog-select.size:hover{
    scale: 1.1;
    border: 3px solid var(--color);
    color: var(--color);
    background-color: var(--gray);
    cursor: pointer;
}
.btn-catalog-select.color:hover{
    scale: 1.1;
    cursor: pointer;
    border: 1px solid grey;
}
.btn-catalog-select.brand:hover{
    scale:1.2;
    cursor: pointer;
}
.btn-catalog-select.size.active:hover{
    scale: 1.1;
    color: var(--white);
    background-color: var(--a-hover);
}

.div-catalog-line{
    width: 95%;
    height: .1rem;
    background-color: var(--tomato);
    margin: 2rem auto;
}

.catalog-collection{
    margin: 0 3rem;
}

.catalog-next-page{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    background-color: var(--gray-select);
    padding-right: 6rem;
    padding-bottom: 3rem;
}
.btn-page{
    font-weight: 400;
    font-size: 2rem;
    color: var(--tomato);
    background-color: var(--white); 
    border: 1px solid var(--tomato);
    transition:all .2s ease;
}
.btn-page-active{
    color: var(--white);
    background-color:var(--tomato); 
}
.btn-page:hover{
    scale: 1.2;
}
.show-items{
    border: 1px solid red
}

/*product*/
.main-product{
    position: relative;
}
.div-arrow-up-product{
    position: absolute;
    
    bottom: 11rem;
    right: 15rem;
    transition: all .5s ease;
}
.div-arrow-up-product:hover{
    scale: 1.2;
}

.select-group.product{
    font-weight: 400;
}
.select-group-item{
    font-size: 2.4rem;
    font-weight: 500;
    min-width: 80%;
    background-color: var(--white);       
}
.container-product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-image-product{
    width: 50%;
}
.fotos{
    width: 70%;
    text-align:center;
}
.two-fotos{
    width: 45%;
    display: flex;
    justify-content: left;
    padding-left: 10%;
}
.big-foto{
    max-width: 511px;
    max-height: 675px; 
}
.big-img{
   width: 90%;   
}
.first-foto, .second-foto{
    border: 1px solid var(--color);  
    min-width: 50px;
    max-width: 140px;
    max-height: 140px;
    margin: 1rem 2rem;
}

.first-foto:hover, .second-foto:hover{
    scale: 1.1;
   
}
.hidden-foto{
    visibility: hidden;
}
.active-foto{
    border: 1px solid #B93B54; 
}

/* div - info-product */

.info-product{
    min-width: 40%;
    display:flex;
    flex-direction: column;
}
.title-container{
    display: flex;
    align-items: baseline;
}
.product-title{
    font-size: 4.8rem;
    color: var(--black);
    font-weight:600;
}
.span-product-title, .info-reviews{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight:400;
}
.stars-product{
    display: flex;
    justify-content:left;
    align-items: center;    
}
.info-reviews{
   text-transform: uppercase;
   margin-left: 3rem;
}
.price-info{
    width: 30%;
    margin-top: 3.8rem;
}
.product-aslow, .product-color, .product-size{    
    font-size: 1.8rem;
    font-weight:400;
}
.price-product{
    font-size: 3.6rem;
    font-weight:600;
    margin: 1.2rem 0 3rem 0;
}

.product-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;    
}
.color-container, .size-container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}
.color-container-div{
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 1.5rem;
    border: 3px solid #C4C4C4;
    transition: all .5s ease;
}
.size-container-div{
    width: 4.6rem;
    height: 3.2rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
    text-align:center;
    border: 3px solid #C4C4C4;
    transition: all .5s ease;
}
.span-size, .span-color{
    font-size: 2rem;
    font-weight:500;
}
.active-color{
    border: 3px solid var(--title-color);
}
.active-size{
    border: 3px solid var(--title-color);
}
.btn-bag .card-btn-a{
    display: inline-block;
    background-color: #B93B54;
    color: var(--white);
    font-weight: 400;
    font-size: 2.4rem;
    padding: 1rem 8rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transition: all .5s ease;
}
.btn-bag .card-btn-a:hover{
    background-color: #81011b;  
}
.btn-bag .card-btn-a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url("../image/bag.svg");
}
.btn-wish .card-btn-a{
    display: inline-block;
    background-color: var(--white);
    border: 1px solid var(--black);
    color: #B93B54;
    font-weight: 400;
    font-size: 2.4rem;
    padding: 0.5rem 8rem;
    transition: all .5s ease;
}
.btn-wish .card-btn-a:hover{
    background-color: #B93B54;
    color: var(--white);
}
.btn-wish .card-btn-a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../image/like.svg");
}

.social{
    margin-top: 2.4rem;
}
.social > img{
    display: inline-block;
    margin-right: 2.6rem;
}

.worry{
    margin-top: 2.5rem;
    text-align: center;
}
.worry > h4{
    font-size: 2.4rem;
    font-weight: 400;
}
.product-narrow{
    width: 60%;
    border: 1px solid #B93B54;
    margin-left: 20%;
    margin-bottom: 1.5rem;
}
.delivery-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delivery, .exchange{
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}
.delivery{
    width: 30%;
    margin-left: 5rem;
}
.delivery > img, .exchange > img{
    width: 4rem;
    margin-right: 3rem;
}
.delivery > span, .exchange > span{
   font-size: 1.4rem;
   font-weight: 400; 

}

/* details container*/

.details{
    width: 70%;   
    margin: 4rem 17rem 6rem 17rem;
    padding: 4.5rem 9rem 8rem 9rem;
   
}
.details > h2{
    font-size: 4.8rem;
    font-weight: 600;
    text-align:center;
    margin-bottom: 8rem;
}
.text-details, .ul-product-properties > li{
    font-family: var(--font-OS);
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    color: var(--color);

}
.ul-product-properties > li{
    line-height: 3.4rem;
}

/* reviews container*/
.reviews{
    background-color: var(--color);  
    padding: 4rem 6rem;    
}
.reviews > h2{
    text-align: center;
    color: var(--white);
    font-size: 4.8rem;
    font-weight: 600;
}
.no-reviews{
    display: none;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
}
.container-reviews{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}
.item-reviews{
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    background-color: var(--white);
    border-radius: 2rem;
    padding: 2.4rem;
    margin: 1.5rem;
    padding-left: 4rem;
}
.item-balls{
    min-width: 25%;
}
.item-balls > h3{
    font-size: 1.4rem;
    font-weight: 400;
}
.container-stars{
    display: flex;
    justify-content: space-between;
}
.star-yellow, .star-gray{
    width: 2rem;
    height: 2rem;
}
.item-text{
    width: 63%;
}
.item-text > p{
    font-family: var(--font-OS);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 2rem;
}
.comment-next-page{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;   
    margin-top: 5rem;
}

/* user review section */
.user-rev-container{
    width: 80%;
    align-self: center;
    text-align:center;
    padding-top: 3rem;
    margin: 5rem 15.2rem 0 13.6rem;
}
.user-rev-title{
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--tomato);
}
.item-name-title{
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--color);
}
.user-data-container{
    text-align:center;
}
.form-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color);
}
.user-form-container{
    display:flex;
    justify-content: center;
    padding: 2rem 7.5rem 
}
.user-name, .user-summary, .user-review{
    margin: 0 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color:var(--color);
    border: 1px solid #333333;
    height: 40px;
}
.user-name{
    width: 45%;    
}
.user-summary{
    width: 55%;
}
.user-review{
    width: 85%;
    min-height: 18rem;
    resize:none;
}
.user-submit{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--tomato);
    border: none;
    transition: all .5s ease;
    padding: 0.7rem 8.8rem;
    margin: 2.5rem 0 3.8rem 0;
}
.user-submit:hover{
    background-color: var(--a-hover);
    scale: 1.1;
}
/* user cart*/
.user-cart{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.main-cart{
    width: 100%;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}
.empty-bag{
    display: none;
    background: var(--gray);
    height: 41vh;   
}
.full-bag{
    display: none;
    background: var(--white);
}

.empty-cart{
    font-size: 2.4rem;
    font-weight: 400;
    padding-top: 5%;
}

table{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
thead{
    font-size: 2.4rem;
    font-weight: 400;
    background-color: var(--gray-catalog);
}
th{
    font-size: 2.4rem;
    font-weight: 400;
    padding: 2rem 0;
}
.tr-item-info{
    background-color: var(--gray);
}
.td-foto-info{
    width: 20rem;
    padding: 1rem 5rem 1rem 2rem;
}
.foto-item{
    width: 100%;
}
.td-info-item{
    text-align: left;
}
td > p{
    font-family: var(--font-OS);
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--black);   
}
td > h2{
    font-size: 2.4rem;
    font-weight: 400;     
}
.btn-change{
    border: 1px solid var(--color);
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--gray-select);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;   
    margin-bottom: 2rem;
    transition: all .5s ease;
}
.btn-change:hover{
    cursor: pointer;
    text-decoration: underline;
}
.td-quantity-container, .td-total-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-OS);
    font-size: 1.8rem;
    font-weight: 700;  
}
.p-quantity, .p-total{
    margin: 1rem;
}
.btn-increase, .btn-decrease, .btn-delete-item{
    font-size: 2rem;
    font-weight: 600;
    color: var(--tomato);
    background-color: var(--white);
    border: 1px solid var(--tomato);
    border-radius: 5px;   
    text-align: center;
    transition: all .5s ease;
}
.btn-increase{
    transform: rotate(-90deg);  
    box-shadow: -4px 4px 4px hsla(0, 0%, 0%, 0.2);
}
.btn-decrease{
    transform: rotate(90deg);
    box-shadow: 4px -4px 4px hsla(0, 0%, 0%, 0.2);
}
.btn-increase:hover, .btn-decrease:hover,.btn-delete-item:hover{
    cursor: pointer;
    background-color: var(--tomato);
    color: var(--white);
}
.div-cart-total{
display: flex;
flex-direction: column;
justify-content: right;
}
.ul-cart-total{
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items:flex-end;
}
.li-cart-total{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.div-total-text, .div-total-sum{
    font-family: var(--font-OS);
    font-size: 2rem;
    font-weight: 300;
    margin: auto;
    padding: 2rem;
}
.div-total-sum{
    font-weight: 600;
}
.div-check-out{
    display: flex;
    justify-content: right;
    padding-top: 5rem;
    padding-right: 20rem;
}
.check-out{
    display: inline-block;
    padding: 1rem 5rem;
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--white);
    background-color: var(--tomato);
    border: 0.2px solid var(--tomato);
    margin-bottom: 10rem;
    margin-right: 0;
    transition: all .5s ease;
}
.check-out:hover{
    text-decoration: underline;
    background-color: var(--a-hover);
    cursor: pointer;
}


