.task-01{
    width: 30%;
    padding: 1%;
}
.user-data{
    display:block;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content:space-between;
    padding: 3% 1% 1% 10%;
    width: 250px;
    margin: 10px;
    background-color: lightgrey;
    border: solid 2px grey;
    border-radius: 5px;
}

label, input{
    justify-self: left;
    padding: 5px;
    margin: 5px;
}

.validate{
    width: 90px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.img-logo{
    width: 15px;
    visibility: hidden;
    margin-left: -15px;
}   
