@import url('./style.css');

@media screen and (max-width: 768px) {    
    html{
        background-image: url('../image/back-cart-mobile.svg');    
    }
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 205vh;
        justify-content: space-between;
    }
    main{
        height: 130vh;  
        margin-left: 3rem;   
    }
    header, footer{
        margin: 0 2rem;
    }
    .title-cart{
        width: 28rem;
        padding-left: 2rem;
        font-size: 6rem;
        padding-left: 2rem;
        margin-top: 6rem;
    }
    .text-cart{
        max-width: 28rem;
        padding-left: 2rem;
    }
    .cart-container{
        width: 95%;
        margin-top: 27.5rem;
    }
    .div-checkout{
        display: none;
    }
    .div-checkout-mobile{
        position: absolute;
        top: 28.2rem;
        right: 0;
        width: 18rem;
    }
    .cart-img1{
        width: 100%;
        display: inline-block;
        animation: cartImg1 2s linear 1;
    }
   
    .item-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4.3rem;
    }
    .side-top, .side-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .side-bottom{
        padding-right: 2rem;
        margin-left: 9rem;
        
    }
    .item-cart-info{   
        width: 100%;
    }
    .item-cart-img > img{
        width: 6.7rem;
        margin-right: 2rem;     
    }

    .item-title-cart{
        text-align: left;
        font-family: var(--font-2); 
        font-size: 2.6rem;       
        font-weight: 400;       
    }
    .line-cart-item{
        border: 1px solid var(--color); 
        margin: 1.8rem 1rem 1.8rem 0;
    }
    .line-cart{
        width: 95%;
       border: 1px solid var(--color); 
    }
    .counter-cart{
        width: 100px;
        display:flex;
        justify-content: space-between; 
        align-items: center;
        border-radius: 8px;  
        border: solid 1px var(--color);
        padding: 0.5rem 0.2rem;
    }
    .result-cart{
        font-size: 1.6rem;
        margin-left: 1rem;
        
    }
    .price-item-cart{
        width: 50%;
        text-align: right;
        font-family: var(--font-2); 
        font-size: 2.6rem;       
        font-weight: 400;
        
    }
/* scroll-bar for list*/
    .scroll-cart-bar{
        height: 700px; 
    
    }
    .scroll-cart-bar::-webkit-scrollbar{
        width: .5rem;  
    }
    .scroll-cart-bar{
        overflow-y: auto;  
     
    }
    .scroll-cart-bar::-webkit-scrollbar{
        border: 1px solid rgb(250, 215, 128);  
        background-color: var(--color-shop);
    }
    .scroll-cart-bar::-webkit-scrollbar-thumb{
        border-radius: 10px;    
        background-color: var(--color);
    }
    .total-cart{
        margin-top: 5rem;
    
        width: 90%;
        padding-right: 2rem;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .total-text{
        min-width: 50%;
        font-size: 2.0rem; 
    }
    .total-price{ 
     
        font-family: var(--font-2); 
        font-size: 3.6rem;       
        font-weight: 400;
        
    }
/* button- place Order */
    .btn-cart-container{
        margin-top: 5.6rem;
       text-align: center;
        
    }
    .btn-place-order{
        padding: 1.5rem 10rem;
        border-radius: 8px;
        background-color: var(--color);
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600; 
        color: var(--color-shop);   
        margin-left: 1.5rem;
    }
    .btn-view-cart{
        background-color: var(--color-footer);
        color: var(--color);
    }
    .btn-place-order:hover{
        text-decoration: underline;   
        cursor: pointer;
    }
    .div-modal-cart{
        position: absolute;
        display: none;
        width: 25rem;
        background-color: var(--color-shop);
        border-radius: 8px;
        border: 1px solid var(--color);
        box-shadow: 1px 1px 3px var(--color);
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 2rem;
    }
    .btn-cont{
        display: flex;
        justify-content: space-between;
    }
    .yes-btn, .no-btn{
        border-radius: 8px;
        background-color: var(--color);
        padding: .5rem 2.5rem;
        color: var(--color-shop);   
        margin: 2rem;
    }
    .yes-btn:hover, .no-btn:hover{
        cursor: pointer;
        scale: 1.05;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){    
    html{
        background-image: url('../image/back-cart.png');    
    }
    body{
        display: flex;
        flex-direction: column;
        height: 210vh;
        justify-content: space-between;
    }
    main{
        height: 190vh;  
        margin: 0 5rem;
    }
    header, footer{
        margin: 0 5rem;
    }
    h1{
        width: 46rem;
        margin-top: 4rem;    
        margin-bottom: 2rem;
    }
    .text-cart, .title-cart{
        padding-left: 2rem;
    }
    .cart-container{
        width: 90%;
        margin-top: 36.5rem;
    }
    .div-checkout{
        position: absolute;
        top: 0;
        right: 4rem;
        width: 36rem;
    }
    .cart-img1{
        width: 90%;
        display: inline-block;
        animation: cartImg1 1s linear 1;
    }
    .div-checkout-mobile{
        display: none;
    }
    .item-cart{
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6.3rem;
    }
    .item-cart-img > img{
        width: 7rem;
        margin-right: 1rem;
    }
    .item-title-cart{
        width: 50%;
        text-align: left;
        font-family: var(--font-2); 
        font-size: 3.0rem;       
        font-weight: 400;
        
    }
    .line-cart{
        border: 1px solid var(--color); 
       
    }
    .counter-cart{
        width: 80%;
        display:flex;
        justify-content: space-between; 
        align-items: center;
        border-radius: 8px;  
        border: solid 1px var(--color);
        padding: 0.5rem;
    }
    .result-cart{
        margin-left: 1rem;
    }
    .price-item-cart{
        width: 15%;
        text-align: right;
        font-family: var(--font-2); 
        font-size: 3.0rem;       
        font-weight: 400;
    }
/* scroll-bar for list*/
    .scroll-cart-bar{
        height: 700px; 
    }
    .scroll-cart-bar::-webkit-scrollbar{
        width: 1rem;  
    }
    .scroll-cart-bar{
        overflow-y: auto;  
    }
    .scroll-cart-bar::-webkit-scrollbar{
        border: 1px solid rgb(250, 215, 128);  
        background-color: var(--color-shop);
    }
    .scroll-cart-bar::-webkit-scrollbar-thumb{
        border-radius: 10px;    
        background-color: var(--color);
    }
    .total-cart{
        width: 90%;  
        margin-top: 3.6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .total-text{
        font-size: 1.6rem;
        margin-right: 10rem;    
    }
/* button- place Order */
    .btn-cart-container{
        width: 90%;
        text-align: right;
        margin-top: 6.5rem;
        
    }
    .btn-place-order{
        width: 240px;
        padding: 1.5rem 6rem;
        border-radius: 8px;
        background-color: var(--color);
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600; 
        color: var(--color-shop);   
    }
    .btn-view-cart{
        background-color: var(--color-footer);
        color: var(--color);
    }
    .btn-place-order:hover{
        text-decoration: underline;   
        cursor: pointer;
    }
    .div-modal-cart{
        position: absolute;
        display: none;
        width: 30rem;
        background-color: var(--color-shop);
        border-radius: 8px;
        border: 1px solid var(--color);
        box-shadow: 1px 1px 3px var(--color);
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 2rem;
    }
    .btn-cont{
        display: flex;
        justify-content: space-between;
    }
    .yes-btn, .no-btn{
        width: 35%;
        border-radius: 8px;
        background-color: var(--color);
        padding: 1rem 1.5rem;
        color: var(--color-shop);   
        margin: 2rem;
    }
    .yes-btn:hover, .no-btn:hover{
        cursor: pointer;
        scale: 1.05;
    }
}
       
@media screen and (min-width: 1201px){    
    html{
        background-image: url('../image/back-cart.png');    
    }
    body{
        display: flex;
        flex-direction: column;
        height: 210vh;
        justify-content: space-between;
    }
    main{
        height: 190vh;  
    }
    h1{
        width: 80%;
        margin-top: 10rem;    
    }
    .text-cart, .title-cart{
        padding-left: 2rem;
    }
    .cart-container{
        width: 90%;
        margin-top: 36.5rem;
    }
    .div-checkout{
        position: absolute;
        top: 0;
        right: 10rem;
        width: 45.7rem;
    }
    .cart-img1{
        width: 90%;
        display: inline-block;
        animation: cartImg1 1s linear 1;
    }
    .div-checkout-mobile{
        display: none;
    }
    .item-cart{
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6.3rem;
    }
    .item-cart-img > img{
        width: 10rem;
        margin-right: 1rem;
    }
    .item-title-cart{
        width: 50%;
        text-align: left;
        font-family: var(--font-2); 
        font-size: 3.2rem;       
        font-weight: 400;
        
    }
    .line-cart{
        border: 1px solid var(--color); 
       
    }
    .counter-cart{
        width: 80%;
        display:flex;
        justify-content: space-between; 
        align-items: center;
        border-radius: 8px;  
        border: solid 1px var(--color);
        padding: 1rem;
    }
    .result-cart{
        margin-left: 1rem;
    }
    .price-item-cart{
        width: 15%;
        text-align: right;
        font-family: var(--font-2); 
        font-size: 3.6rem;       
        font-weight: 400;
    }
/* scroll-bar for list*/
    .scroll-cart-bar{
        height: 700px; 
    }
    .scroll-cart-bar::-webkit-scrollbar{
        width: 1rem;  
    }
    .scroll-cart-bar{
        overflow-y: auto;  
    }
    .scroll-cart-bar::-webkit-scrollbar{
        border: 1px solid rgb(250, 215, 128);  
        background-color: var(--color-shop);
    }
    .scroll-cart-bar::-webkit-scrollbar-thumb{
        border-radius: 10px;    
        background-color: var(--color);
    }
    .total-cart{
        width: 90%;  
        margin-top: 6.6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .total-text{
        font-size: 1.6rem;
        margin-right: 10rem;    
    }
/* button- place Order */
    .btn-cart-container{
        width: 80%;
        padding-left: 62%;
        margin-top: 6.5rem;
        
    }
    .btn-place-order{
        width: 350px;
        padding: 2rem 9rem;
        border-radius: 8px;
        background-color: var(--color);
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600; 
        color: var(--color-shop);   
    }
    .btn-view-cart{
        background-color: var(--color-footer);
        color: var(--color);
    }
    .btn-place-order:hover{
        text-decoration: underline;
       
        cursor: pointer;
    }
    .div-modal-cart{
        position: absolute;
        display: none;
        width: 30rem;
        background-color: var(--color-shop);
        border-radius: 8px;
        border: 1px solid var(--color);
        box-shadow: 1px 1px 3px var(--color);
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 2rem;
    }
    .btn-cont{
        display: flex;
        justify-content: space-between;
    }
    .yes-btn, .no-btn{
        width: 35%;
        border-radius: 8px;
        background-color: var(--color);
        padding: 1rem 1.5rem;
        color: var(--color-shop);   
        margin: 2rem;
    }
    .yes-btn:hover, .no-btn:hover{
        cursor: pointer;
        scale: 1.05;
    }
}

@keyframes cartImg1{
    from {    
        left: -1200px;
        transform: translateX(1200px);
    }  
    to{
        transform: translate(0,0);   
    }

}
    
