@import url('./style.css');

@media screen and (max-width: 768px){
    html{
        background-image: url('../image/back-why-mobil.svg');    
    }
    main, footer{
        max-width: 768px;
        margin: auto;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .modal-bag{
        width: 242px;
        background-image: url('../image/back-bag-mobile.svg');
    }
    /* first and second section*/
    .why-first, .why-second{   
        width: 95%;    
        text-align: center;
    }
    .why-first{
        position: relative;
        margin-top: 8.1rem;
    }    
    .why-second{
        margin-top: 17.5rem;
        margin-bottom: 21.2rem;
        text-align: left;
    }
    .first-div-img{
        position:absolute;
        width: 10.7rem;
        top: 48rem;
        right: 1.7rem;
        animation: showWhy1 3s linear 1;  
    }
    .second-div-img{
        position:absolute;
        width: 14.6rem;
        top: 40.8rem;
        left: 2rem;
        animation: showWhy2 2.5s linear 1;  
    }
    .h1-why{
        min-width: 38rem;
        width: 100%;
        font-size: 6rem;        
    } 
    .h2-why{
        position: relative;
        font-family: var(--font-2);
        font-size: 6rem;   
        font-weight: 400;
        max-width: 34.3rem;
        margin: 0 2rem;
    }
    .first-small-img{
        position: absolute;
        width: 3.9rem;
        height: 3.5rem; 
        top: 16rem;
        left: 5rem;
    }
    .second-small-img{
        position: absolute;
        width: 2.6rem;
        height: 3rem;
        top: 5.1rem;
        left: 4.8rem;
    }
    .text-icon{
        font-size: 1.8rem;
        font-weight: 700; 
        line-height: 2.2rem;
    }
    .why-text{
        font-size: 1.8rem;
        font-weight: 400; 
        line-height: 2.6rem;
        padding-top: 2.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .why-shopping-btn{
        display: inline-block;
        padding: 1.2rem 5.8rem;
        color:  #FBFAC9;
        border-radius: 8px;
        background-color: var(--color);      
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .why-shopping-btn a{
        color:  #FBFAC9;
        font-weight: 400;   
        font-size: 1.6rem;   
    }
    
    /* central section*/
    .central-section{   
        width: 100%;
        height: 105.7rem;
    }
    .central-circle{   
        position:relative;
        background-image: url('../image/back-central-why.png');   
        background-size: cover;
        width: 31.8rem;
        height: 31.4rem;
        margin-top: 25.8rem;   
    } 
    .centr1, .centr2, .centr3{
        display: inline-block;
        position: absolute;
    }
    .centr1{
        width: 16rem;
        top: 20.3rem;
        left: 7.5rem;
        animation: showCentr1 1s linear 1;    
    }
    .centr2{
        width: 20.5rem;
        top: 6rem;
        left: 7.5rem;
        animation: showCentr2 2s linear 1;
    }
    .centr3{
        width: 20.2rem;
        top: -4.5rem;
        left: 7rem;
        animation: showCentr3 2s linear 1; 
    }
    .boutique, .swirl, .recipes{
        text-align: center;
    }
    .boutique{
        padding-top: 35rem;
    } 
    .img-boutique{
        width: 10rem;
        margin-bottom: 1.9rem;
    }
    .img-swirl, .img-boutique, .img-recipes{
        width: 10rem;
        margin-bottom: 1.9rem;
    }
    .img-swirl, .img-recipes{   
        margin-top: 6rem;
    }
    /*footer*/
    .last-row-footer{
        margin-top: 5.3rem;
        margin-bottom: 7rem;
    }   
}


@media screen and (min-width: 768px)  and (max-width: 1200px){
    html{
        background-image: url('../image/back-why.png');    
    }
    main, footer{
        max-width: 1200px;
        margin: auto;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    /* first and second section*/
    .why-first, .why-second{   
        width: 70%;    
        text-align: center;
    }
    .why-first{
        position: relative;
        margin-top: 14.8rem;
    }    
    .why-second{
        margin-bottom: 38rem;
    }
    .first-div-img{
        position:absolute;
        width: 15.7rem;
        top: 42rem;
        right: -5rem;
        animation: showWhy1 3s linear 1;  
    }
    .second-div-img{
        position:absolute;
        width: 20.6rem;
        top: 28.8rem;
        left: -9.5rem;
        animation: showWhy2 2.5s linear 1;  
    }
    .h1-why{
        min-width: 56rem;
        font-size: 10rem;        
    } 
    .h2-why{
        position: relative;
        width: 60rem;   
        font-family: var(--font-2);
        font-size: 10rem;   
        font-weight: 400;
    }
    .first-small-img{
        position: absolute;
        width: 5.9rem;
        height: 5.5rem; 
        top: 17rem;
        left: 15rem;
    }
    .second-small-img{
        position: absolute;
        width: 4.6rem;
        height: 6rem;
        top: -2.5rem;
        left: 44.5rem;
    }
    .text-icon{
        font-size: 1.4rem;
        font-weight: 700; 
        line-height: 2.2rem;
    }
    .why-text{
        max-width: 50rem;
        min-width: 30rem;  
        font-size: 1.8rem;
        font-weight: 400; 
        line-height: 2.6rem;
        padding-top: 5rem;
    }
    .why-shopping-btn{
        display: inline-block;
        padding: 1.2rem 5.8rem;
        color:  #FBFAC9;
        border-radius: 8px;
        background-color: var(--color);      
        margin-top: 4.2rem;
    }
    .why-shopping-btn a{
        color:  #FBFAC9;
        font-weight: 400;   
        font-size: 1.6rem;   
    }
    
    /* central section*/
    .central-section{   
        width: 100%;
        height: 90.7rem;
    }
    .central-circle{   
        position:relative;
        background-image: url('../image/back-central-why.png');   
        background-size: cover;
        width: 53.2rem;
        height: 52.5rem;
        margin-top: 36.4rem;
       
    } 
    .centr1, .centr2, .centr3{
        display: inline-block;
        position: absolute;
    }
    .centr1{
        width: 26rem;
        top: 38.3rem;
        left: 12.5rem;
        animation: showCentr1 1s linear 1;    
    }
    .centr2{
        width: 31.5rem;
        top: 16rem;
        left: 11.5rem;
        animation: showCentr2 2s linear 1;
    }
    .centr3{
        width: 40.2rem;
        top: -6.5rem;
        left: 7rem;
        animation: showCentr3 2s linear 1; 
    }
    .boutique, .swirl, .recipes{
        position: absolute;
        text-align: left;
    }
    .boutique{
        width: 24rem;
        top: 25rem;
        left: -10.5rem;
    }
    .swirl{
        width: 23.6rem;
        top: 31rem;
        left: 41rem;
    }
    .recipes{
        width: 25.8rem;
        top: 48rem;
        left: 8rem;
    }
    .img-swirl, .img-boutique, .img-recipes{
        width: 10rem;
        margin-bottom: .5rem;
    }
    /*footer*/
    .last-row-footer{
        margin-top: 5.3rem;
        margin-bottom: 7rem;
    }   
}

@media screen and (min-width: 1201px){
    html{
        background-image: url('../image/back-why.png');    
    }
    main, footer{
        min-width: 1201px;
        margin: auto;
    }
    footer{
        height: 40vh;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    /* first and second section*/
    .why-first, .why-second{   
        width: 70%;    
        text-align: center;
    }
    .why-first{
        position: relative;
        margin-top: 12.8rem;
        margin-bottom: 16.2rem;
    }    
    .why-second{
        margin-bottom: 36.6rem;
    }
    .first-div-img{
        position:absolute;
        width: 18.7rem;
        top: 48rem;
        right: 0;
        animation: showWhy1 3s linear 1;  
    }
    .second-div-img{
        position:absolute;
        width: 24.6rem;
        top: 32.8rem;
        left: 0;
        animation: showWhy2 2.5s linear 1;  
    }
    .h1-why{
        max-width: 100rem;
        min-width: 77rem;        
    } 
    .h2-why{
        position: relative;
        width: 100rem;
        font-family: var(--font-2);
        font-size: 12rem;   
        font-weight: 400;
    }
    .first-small-img{
        position: absolute;
        width: 5.9rem;
        height: 5.5rem; 
        top: 20rem;
        left: 33rem;
    }
    .second-small-img{
        position: absolute;
        width: 4.6rem;
        height: 6rem;
        top: -1.8rem;
        left: 68rem;
    }
    .why-text, .text-icon{
        font-size: 1.8rem;
        font-weight: 700; 
        line-height: 2.6rem;
    }
    .why-text{
        max-width: 50rem;
        min-width: 30rem;  
        font-size: 1.8rem;
        font-weight: 400; 
        line-height: 2.6rem;
        padding-top: 5rem;
    }
    .why-shopping-btn{
        display: inline-block;
        padding: 1.2rem 5.8rem;
        color:  #FBFAC9;
        border-radius: 8px;
        background-color: var(--color);      
        margin-top: 4.2rem;
    }
    .why-shopping-btn a{
        color:  #FBFAC9;
        font-weight: 400;   
        font-size: 1.6rem;   
    }
    
    /* central section*/
    .central-section{   
        width: 122.7rem;
        height: 100.7rem;
        text-align: center;
        margin-bottom: 9rem;
    }
    .central-circle{   
        position:relative;
        background-image: url('../image/back-central-why.png');   
        width: 80.2rem;
        height: 79.5rem;
        margin-top: 10.4rem;
       
    } 
    .centr1, .centr2, .centr3{
        display: inline-block;
        position: absolute;
    }
    .centr1{
        width: 37rem;
        top: 51.3rem;
        left: 20.5rem;
        animation: showCentr1 1s linear 1;    
    }
    .centr2{
        width: 43.5rem;
        top: 19rem;
        left: 20.5rem;
        animation: showCentr2 2s linear 1;
    }
    .centr3{
        width: 52.2rem;
        top: -10rem;
        left: 15.5rem;
        animation: showCentr3 2s linear 1; 
    }
    .boutique, .swirl, .recipes{
        position: absolute;
        width: 33.2rem;
        text-align: left;
    }
    .boutique{
        width: 33.2rem;
        top: 32rem;
        left: -20rem;
    }
    .swirl{
        width: 33.6rem;
        top: 48rem;
        left: 65rem;
    }
    .recipes{
        width: 29.8rem;
        top: 64rem;
        left: 2rem;
    }
    .img-swirl, .img-boutique, .img-recipes{
        width: 12rem;
        margin-bottom: 3rem;
    }
    /*footer*/
    .last-row-footer{
        margin-top: 5.3rem;
        margin-bottom: 5.3rem;
    }   
}

/* animation */
@keyframes showCentr1{
    from {    
        left: -1200px;
        transform: translateX(-1200px);
    }
    30%{
        transform: translate(0,0);   
    }    
}
@keyframes showCentr2{
    from {    
        right: -3200px;
        transform: translateX(3200px);
    }
    80%{
        transform: translate(0,0);   
    }    
}
@keyframes showCentr3{
    from {    
        top: -2200px;
        transform: translateY(-2200px);
    }
    100%{
        transform: translate(0,0);   
    }    
}
@keyframes showWhy1{
    from {  
        display: none;
        right: -4200px;
    }
    90%{
        transform: translate(0,0);   
    }
}
@keyframes showWhy2{
    from {  
        display: none;
        left: -3200px;
    }
    60%{
        transform: translate(0,0);   
    }
}