html{
    font-family: 'Russo One', sans-serif;
    --white: #FFFFFF;
}
.form-container{
    width: 700px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align:center;
    border: 2px solid grey;
    background-color:beige;
    border-radius: 8px;
    padding: 30px 40px 30px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.title-form{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    padding: 5px;
    margin: 0;
}
.div-input{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    
}
input, .btn{
    width: 50%;
    border: 2.25px solid green;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px;
}
input:focus{
    border: 5px solid green;
}

.div-input label{
    text-align: left;
    width: 20%;
}
.wrong{
    border: 5px solid red;
}

.btn{
    width: 35%;
    margin-top: 30px;
    border: 2.25px solid grey;
}
.btn:hover{
    background-color:darkgrey;
    cursor: pointer;
}
.user-data{
    width: 300px;
    padding: 15px;
    font-size: 24px;
    color: rgb(10, 75, 10);
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px;
}
.item-user{
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 20px;
}
.label{
    width: 20%;
    text-align: right;
    font-size: 20px;
    color: black;
}
.email, .password{
    display:inline-block;
    width: 210px;
    color: red;
    font-size: 20px;
}