.container-img{
    width: 510px;
    background-color: goldenrod;
    margin: 20px;
    padding: 5px;
    border: 5px solid darkgoldenrod;
}

.img-box{
    width: 500px;
    border: 5px solid gold;

}