.h1-styles{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 100px 100px 0px 100px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:  fit-content;
    margin: 10px 100px 0px 100px;
    border: 2px solid seagreen;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(215, 236, 229);
  }
    .true-number{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:  fit-content;
    margin: 10px 100px 0px 100px;
    border: 2px solid seagreen;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: green;
  }

.input-tel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 1px solid seagreen;
    border-radius: 10px;
    min-height: 30px;  
    width: 90%;
    margin: 0px 10px 10px 10px;
  }

.btn-save{
  margin-bottom: 10px;
  min-height: 45px;
  width: 100px; 
  background-color: green;
  border-radius: 5px;
  font-size: 100%;
  color:blanchedalmond;
}
.d-true{
  margin-top: 5px;
  visibility: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.11rem;
  font-weight: 600;
  color: rgb(189, 3, 3);
}
.d-false{
  margin-top: 5px;
  visibility: visible;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.11rem;
  font-weight: 500;
  color: rgb(189, 3, 3);
}


